@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$link: #555;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #eee;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$body-color: #666;

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.website-source {
  margin-top: 16px;
  font-size: 14px;
}

.box.main {
  padding-top: 2rem;
}

p.quote {
  font-style: italic;
}

.resume-entry {
  margin-bottom: 32px;

  li {
      list-style-type: circle;
      margin-left: 20px;
  }

  &-entry-time {
    margin-bottom: 16px;
  }

  &-entry-desc {
    margin-bottom: 8px;
  }
}

.resource-section {
  margin-bottom: 32px;
}

.contact-panel {
  margin: 18px 0;

  a {
    color: #555;

    &:hover {
      color: #555;
    }

    &+a {
      margin-left: 10px;
    }
  }
}

@import "fa-scss/fontawesome.scss";
@import "fa-scss/solid.scss";
@import "fa-scss/brands.scss";

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
